@model Zkly.BLL.ViewModels.LoginViewModel

@{
    ViewBag.Title = "登录";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}

@section styles
{
    <!-- Custom styles for this template -->
    <style type="text/css">
        body {
            padding-top: 40px;
            padding-bottom: 40px;
            background-color: #eee;
        }

        #loginForm {
            max-width: 330px;
            padding: 15px;
            margin: 0 auto;
        }

            #loginForm #loginForm-heading,
            #loginForm .checkbox {
                margin-left: 25px;
                margin-bottom: 10px;
            }

            #loginForm .checkbox {
                font-weight: normal;
            }

            #loginForm .form-control {
                position: relative;
                height: auto;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                padding: 10px;
                font-size: 16px;
            }
    </style>

}

<div class="container">

    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            <div class="form-group">
                @Html.AntiForgeryToken()
                <h2 class="form-signin-heading">控制台登录</h2>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "用户名/邮箱/手机" })
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "密码" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="立 即 登 录" class="btn btn-primary btn-block" />
            </div>
        }
    </section>


</div>