@model Zkly.DAL.Models.InvestFirstAuditInfo
@{
    ViewBag.Title = "申请投资（一审）";
}


@section heads{
    @Styles.Render("~/css/bootstrapValidatorCss")
    @Styles.Render("~/css/invest")
    @Scripts.Render("~/js/bootstrapValidator")

}

<div class="invest">
    @Html.Partial("_InvestTop", EInvestAuditStage.First)

    <div class="content panel panel-default">

        <div class="first-audit ">
            <div id="invest-first-audit-form" class="invest-form apply ">

                @using (Html.BeginForm("SaveFirstAuditInfo", "Enterprise", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "info-form" }))
                {
                    <br />
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <input type="hidden" value="@Model.Id" name="Id" />
                    <div class="form-group">
                        <div class="col-xs-3 control-label">公司名称 <span class="validation-fail">*</span></div>
                        
                        <div class="col-xs-9">
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", id = "companyName", placeholder = "公司名称" })

                            @Html.ValidationMessageFor(m => m.CompanyName, null, new { @class = "validation-fail" })
                        </div>
                    </div>

                    <div class="form-group" id="myFoundingDate">
                        <div class="col-xs-3 control-label">成立时间 <span class="validation-fail">*</span></div>
                        <div id="foundingDateWrap" class="col-xs-9 input-1">
                            <input type="text" class="form-control" value="@(Model.FoundingDate.HasValue ? Model.FoundingDate.Value.ToString("yyyy-MM-dd") : "")" id="foundingDate" name="FoundingDate">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 control-label">所属行业 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9  input-3">
                            @Html.DropDownListFor(m => m.Industry, @ViewData["indus"] as IEnumerable<SelectListItem>, new { @class = "form-control", id = "industry" })
                        </div>


                        <div class="col-xs-9 input-3">
                            <span id="IndustrySpanError"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 control-label">所在地区 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9 input-2">
                            <select id="s_province" class="form-control selection"></select>&nbsp;&nbsp;
                            <select id="s_city" class="form-control selection"></select>&nbsp;&nbsp;
                            <select id="s_county" class="form-control selection"></select>
                        </div>
                    </div>

                    <div class="form-group" id="myArea">
                        <div class="col-xs-3 control-label">&nbsp;</div>
                        <div class="col-xs-9  input-1">

                            @Html.TextBoxFor(m => m.Area, new { style = "float:left", @class = "form-control", id = "area", placeholder = "所在地区" })

                            @Html.ValidationMessageFor(m => m.Area, null, new { @class = "validation-fail" })

                            <span class="zkly-span-frist">
                                <span id="AreaError" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                <span id="AreaOk" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                            </span>
                        </div>
                    </div>

                    <div class="form-group group-text" id="myIndustryPosition">
                        <div class="col-xs-3 control-label">行业地位</div>
                        <div class="col-xs-9 ">
                            @Html.TextAreaFor(m => m.IndustryPosition, new { @class = "form-control text-1", id = "industryPosition", placeholder = "行业地位" })
                        </div>
                    </div>

                    <div class="form-group group-text" id="myIndustryCompetition">
                        <div class="col-xs-3 control-label">行业竞争情况</div>
                        <div class="col-xs-9 ">
                            @Html.TextAreaFor(m => m.IndustryCompetition, new { @class = "form-control text-1", id = "industryCompetition", placeholder = "行业竞争情况" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 control-label">项目名称 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9 input-1">
                            @Html.TextBoxFor(m => m.ProjectName, new { @class = "form-control", id = "projectName", placeholder = "项目名" })
                            @Html.ValidationMessageFor(m => m.ProjectName, null, new { @class = "validation-fail" })
                        </div>
                    </div>

                    <div class="form-group group-text" id="myProjectAwards">
                        <div class="col-xs-3 control-label">项目所获奖项</div>
                        <div class="col-xs-9 ">
                            @Html.TextAreaFor(m => m.ProjectAwards, new { @class = "form-control text-1", id = "projectAwards", placeholder = "项目所获奖项" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 control-label">申请投资</div>
                        <div class="col-xs-9 form-input">
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("InvestmentInstitutions", "天使", true)
                                    天使基金
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("InvestmentInstitutions", "VC", Model.InvestmentInstitutions == "VC")
                                    VC投资
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("InvestmentInstitutions", "PE", Model.InvestmentInstitutions == "PE")
                                    PE
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    @Html.RadioButton("InvestmentInstitutions", "众筹", Model.InvestmentInstitutions == "众筹")
                                    众筹
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" id="myApplyQuota">
                        <div class="col-xs-3 control-label">申请金额 <span class="validation-fail">*</span></div>
                      
                        <div class="col-xs-9" id="myApplyQuota">
                            @Html.TextBoxFor(m => m.ApplyQuota, new { @class = "form-control", id = "applyQuota", @style = "float: left", @placeholder = "申请金额" })
                            @Html.ValidationMessageFor(m => m.ApplyQuota, null, new { @class = "validation-fail" })
                            <span class="input-group-btn">
                                <input type="hidden" name="isLock" value="false" />
                                <button class="btn btn-info">万元</button>
                            </span>
                        </div>
                    </div>



                    <div class="form-group" id="myLegalPerson">
                        <div class="col-xs-3 control-label">法定代表人<span class="validation-fail">*</span></div>
                        <div class="col-xs-9  input-1">
                            <ul>
                                <li>
                                    @Html.TextBoxFor(m => m.LegalPerson, new { @class = "form-control", id = "legalPerson", placeholder = "法定代表人" })
                                    @Html.ValidationMessageFor(m => m.LegalPerson, null, new { @class = "validation-fail" })
                                </li>
                            </ul>
                        </div>
                    </div>



                    <div class="form-group">
                        <div class="col-xs-3 control-label">法定代表人电话、手机<span class="validation-fail">*</span></div>
                        <div class="col-xs-9 form-input">
                            <ul>
                                <li>

                                    @Html.TextBoxFor(m => m.LegalPhone, new { @class = "form-control", id = "legalPhone", placeholder = "电话", @autocomplete = "off" })

                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.LegalCellPhone, new { @style = "float:left", @class = "form-control", id = "legalCellPhone", placeholder = "手机", @autocomplete = "off" })

                                </li>
 
                                <li>
                                    <span id="LegalSpanError"></span>
                                    <span id="LegalError" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    <span id="LegalOk" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                </li>
                                <li>
                                    <div>@Html.ValidationMessageFor(m => m.LegalCellPhone, null, new { @class = "validation-fail" })</div>

                                </li>
                            </ul>
                        </div>
                    </div>





                    <div class="form-group" id="myContact">
                        <div class="col-xs-3 control-label">联系人<span class="validation-fail">*</span></div>
                        <div class="col-xs-9 input-1">
                            <ul>
                                <li>
                                    @Html.TextBoxFor(m => m.Contact, new { @class = "form-control", id = "contact", placeholder = "联系人" })
                                    @Html.ValidationMessageFor(m => m.Contact, null, new { @class = "validation-fail" })
                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 control-label">联系人电话、手机<span class="validation-fail">*</span></div>
                        <div class="col-xs-9 form-input">
                            <ul>

                                <li>

                                    @Html.TextBoxFor(m => m.ContactPhone, new { @class = "form-control", id = "contactPhone", placeholder = "电话", @autocomplete = "off" })
                                </li>
                                <li>
                                    @Html.TextBoxFor(m => m.ContactCellPhone, new { @class = "form-control", id = "contactCellPhone", placeholder = "手机", @autocomplete = "off" })

                                </li>
                                <li>
                                    <span id="ContactSpanError"></span>
                                    <span id="ContactError" class="glyphicon glyphicon-remove text-danger" aria-hidden="true"></span>
                                    <span id="ContactOk" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
                                </li>
                                <li>
                                    <div>@Html.ValidationMessageFor(m => m.ContactCellPhone, null, new { @class = "validation-fail" })</div>

                                </li>
                            </ul>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="col-xs-3 control-label">公司邮箱 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9  input-1">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", id = "email", placeholder = "公司邮箱" })
                            @Html.ValidationMessageFor(m => m.Email, null, new { @class = "validation-fail" })
                        </div>
                    </div>

                    <div class="form-group group-text" id="myCompanyDescription">
                        <div class="col-xs-3 control-label">公司简介 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9 ">
                            @Html.TextAreaFor(m => m.CompanyDescription, new { @class = "form-control text-1", id = "companyDescription", placeholder = "公司简介" })
                            @Html.ValidationMessageFor(m => m.CompanyDescription, null, new { @class = "validation-fail" })
                        </div>
                    </div>

                    <div class="form-group group-list" id="compnayAdvance">
                        <div class="col-xs-3 control-label">公司核心优势 <span class="validation-fail">*</span></div>
                        <div class="col-xs-9 ">

                            <div class="">
                                <span data-bv-result="INVALID" id="showAdvError" data-bv-for="TeamAdv" data-bv-validator="notEmpty" class="help-block">公司核心优势至少填一项</span>

                                @Html.CheckBoxFor(m => m.IsTeamAdv) 团队优势
                                @{
                    var clsTeam = Model.IsTeamAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.TeamAdv, new { @class = "form-control text-1 " + clsTeam, id = "teamAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsProdAdv) 产品优势
                                @{
                    var clsProd = Model.IsProdAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.ProdAdv, new { @class = "form-control text-1 " + clsProd, id = "prodAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsTechAdv) 技术优势
                                @{
                    var clsTech = Model.IsTechAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.TechAdv, new { @class = "form-control text-1 " + clsTech, id = "techAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsScaleAdv) 规模优势
                                @{
                    var clsScale = Model.IsScaleAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.ScaleAdv, new { @class = "form-control text-1 " + clsScale, id = "scaleAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsSaleAdv) 销售优势
                                @{
                    var clsSale = Model.IsSaleAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.SaleAdv, new { @class = "form-control text-1 " + clsSale, id = "saleAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsIndustryAdv) 行业优势
                                @{
                    var clsIndustry = Model.IsIndustryAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.IndustryAdv, new { @class = "form-control text-1 " + clsIndustry, id = "industryAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsResourceAdv) 客户资源优势
                                @{
                    var clsResource = Model.IsResourceAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.ResourceAdv, new { @class = "form-control text-1 " + clsResource, id = "resourceAdv" })
                                }
                            </div>
                            <div class="">
                                @Html.CheckBoxFor(m => m.IsOtherAdv) 其他优势
                                @{
                    var clsOther = Model.IsOtherAdv ? "" : "hidden";
                    @Html.TextAreaFor(m => m.OtherAdv, new { @class = "form-control text-1 " + clsOther, id = "otherAdv" })
                                }
                            </div>


                            <div>@Html.ValidationMessageFor(m => m.ResourceAdv, null, new { @class = "validation-fail" })</div>
                            <div class="tip" style="color: #0d83d7;">请详细填写，该项对投资人至关重要</div>
                        </div>
                    </div>

                    <div class="form-group group-text" id="myMarketAndSales">
                        <div class="col-xs-3 control-label">市场及营销</div>
                        <div class=" col-xs-9">
                            @Html.TextAreaFor(m => m.MarketAndSales, new { @class = "form-control text-1", id = "marketAndSales", placeholder = "市场及营销" })
                        </div>
                    </div>

                    <div class="form-group clearfix" id="myData">
                        <div class="col-xs-3 control-label">
                            5年收入<br /> (单位：万元)
                        </div>
                        <div class="col-xs-9 form-input">
                            <div class="financial-data">
                                <ul>
                                    <li>@Html.TextBoxFor(m => m.Data1, new { @class = "form-control", id = "data2015", placeholder = @DateTime.Now.Year + " 年" })</li>
                                    <li>@Html.TextBoxFor(m => m.Data2, new { @class = "form-control", id = "data2014", placeholder = @DateTime.Now.Year - 1 + " 年" })</li>
                                    <li>@Html.TextBoxFor(m => m.Data3, new { @class = "form-control", id = "data2013", placeholder = @DateTime.Now.Year - 2 + " 年" })</li>
                                </ul>
                            </div>
                            <div class="financial-data">
                                <ul>
                                    <li>@Html.TextBoxFor(m => m.Data4, new { @class = "form-control", id = "data2012", placeholder = @DateTime.Now.Year - 3 + " 年" })</li>
                                    <li>@Html.TextBoxFor(m => m.Data5, new { @class = "form-control", id = "data2011", placeholder = @DateTime.Now.Year - 4 + " 年" })</li>
                                    <li><label id="Prompt"></label></li>
                                </ul>
                            </div>
                            <div class="financial-data">
                                <p class="tip" style="color: #0d83d7;">该财务数据不作为税收依据</p>
                            </div>
                        </div>
                    </div>

                    if (ViewBag.IsEditable!=null&&ViewBag.IsEditable)
                    {
                        <div id="protocol" class="form-group">
                            <div class="col-xs-3">&nbsp;</div>
                            <div class="col-xs-9 form-input">
                                <input id="first-audit-protocol" type="checkbox" />
                                我已阅读并同意签署
                                <a href="#">《XXXX协议》</a>
                                <span class="tip">请先阅读此协议并勾选前面复选框</span>
                            </div>
                        </div>


                        <div id="operation" class="form-group">
                            <div class="col-xs-3 ">&nbsp;</div>
                            <div class="col-xs-9 form-input">
                                @if (Convert.ToInt32(ViewData["status"]) != (int)EInvestAuditStatus.Auditing)
                                {
                                    <button id="first-audit-submit" type="submit" class="btn btn-primary submit disabled" onclick="return checkform_success()">申请初审</button>
                                }

                                @Html.ActionLink("取消", "Index", null, new { @class = "cancel" })
                            </div>
                        </div>
                    }

                }
            </div>
        </div>

    </div>
</div>



@section scripts{

    @Scripts.Render("~/js/area")
    @Scripts.Render("~/js/enterprise-invest")
    @Scripts.Render("~/js/first-audit")

}
