@model Zkly.DAL.Models.AgencyCommission

@{
    ViewBag.Title = "编辑 - 佣金方案";
}
@section styles {
    @Styles.Render("~/css/bootstrapValidatorCss")
    @Scripts.Render("~/js/bootstrapValidator")
    @Scripts.Render("~/js/jqueryval")
}

@using (Html.BeginForm("SaveEdit", "AgencyCommissions", FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "info-form" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">
            @ViewBag.Title
        </div>
        @Html.Partial("_SuccessMessage")
        @Html.Partial("_ErrorMessage")
        <div class="panel-body">
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.DisplayFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CashPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.CashPercent, new { htmlAttributes = new { @class = "form-control" ,@id = "CashPercent"} })
                        @Html.ValidationMessageFor(model => model.CashPercent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.StockPercent, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.StockPercent, new { htmlAttributes = new { @class = "form-control",@id = "StockPercent" } })
                        @Html.ValidationMessageFor(model => model.StockPercent, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-5">
                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control",@id = "Description" } })
                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <div class="col-md-offset-2">
                <input type="submit" value="保存" class="btn btn-primary" />
                <a href="@Url.Action("Details", new {Model.Id})" class="btn btn-default">返回资料页</a>
                <a href="@Url.Action("Index")" class="btn btn-default">返回列表</a>
            </div>
        </div>
           
    </div>
}
@section scripts{

    @Scripts.Render("~/js/agencyCommission")

}
