@model Zkly.BLL.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "忘记了密码?";
}

@section heads {
    @Scripts.Render("~/js/jqueryval")
}


<br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">



        <ul id="myTab" class="nav nav-tabs">
            <li class="active">
                <a href="#email" data-toggle="tab" id="verifyEmail">
                    邮箱验证
                </a>
            </li>
            <li>
                <a href="#phone" data-toggle="tab" id="verifyPhone">
                    手机验证
                </a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade in active" id="email">

                @using (Html.BeginForm("SaveForgotPassword", "Account", FormMethod.Post, new { id = "emailForm", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>输入你的电子邮件：</h4>
                    <hr />*@
                    <br /><br />
                    @Html.ValidationSummary("", new { @class = "text-danger", id = "emailError" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <input type="submit" class="btn btn-primary btn-block" value="发送电子邮件" />
                        </div>
                    </div>
                }

            </div>



            <div class="tab-pane fade" id="phone">
                @using (Html.BeginForm("EnterPhoneNumber", "Account", FormMethod.Post, new { id = "phoneForm", @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @*<h4>输入你的手机号码：</h4>
                    <hr />*@
    <br /><br />
                    @Html.ValidationSummary("", new { @class = "text-danger", id = "phoneError" })
                    <div class="form-group">

                        @Html.LabelFor(m => m.Number, new { @class = "col-xs-2 control-label" })
                        <div class="col-xs-10">
                            @Html.TextBoxFor(m => m.Number, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-2"></div>
                        <div class="col-xs-10">
                            <input type="submit" class="btn btn-primary btn-block" value="提 交" />
                        </div>
                    </div>
                }
            </div>

        </div>

    </div>
</div>


