@model Zkly.BLL.ViewModels.ResetPasswordViewModel
@{
    ViewBag.Title = "重置密码";
}

@section heads {
    @Scripts.Render("~/js/jqueryval")
}


<br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @using (Html.BeginForm("SaveResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @*<h4>重置你的密码：</h4>
            <hr />*@
            @Html.ValidationSummary("", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.GuidId)
            @Html.HiddenFor(model => model.Code)
            @*<div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>*@
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <input type="submit" class="btn btn-primary btn-block" value="重 置" />
                </div>
            </div>
        }
    </div>
</div>
