@model Zkly.BLL.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "更改密码";
}

@section heads {
    @Scripts.Render("~/js/jqueryval")
}



<br />
<div class="panel panel-default">
    <div class="panel-heading">@ViewBag.Title</div>
    <div class="panel-body">

        @using (Html.BeginForm("SaveChangePassword", "Profile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-xs-2 control-label" })
                <div class="col-xs-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-2"></div>
                <div class="col-xs-10">
                    <input type="submit" value="更改密码" class="btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>

